.text_correct {
  color:green;
}

.text_wrong{
  text-decoration: line-through;
  color:red;
}

.text_out_of_order {
  color:rgb(170, 170, 5);
}

.text_missing{
  color:grey;
}


#logo {  
    margin-top: 20px;
    width: 250px;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }